.custom-header {
    background-color: #f0f0f0;
    color: #333;
    font-size: 18px;
    /* Otros estilos personalizados */
}

.custom-body {
    padding: 20px;
    /* Otros estilos personalizados */
}

.custom-title {
    color: #007bff;
    /* Otros estilos personalizados */
}

.custom-footer {
    background-color: #f0f0f0;
    padding: 10px;
    /* Otros estilos personalizados */
}


.article__title{
    font-size: 1.8rem;
    margin-top:0.5rem;
}
/* Agrega aquí los estilos específicos para el formulario de inicio de sesión */
.formulario_login {
    body{
        background-color: #080710;
    }
    .background{
        width: 430px;
        height: 520px;
        position: absolute;
        transform: translate(-50%,-50%);
        left: 50%;
        top: 50%;
    }
    .background .shape{
        height: 200px;
        width: 200px;
    
        position: absolute;
        border-radius: 50%;
    }
    
    
    form{
        height: 520px;
        width: 400px;
        
        position: absolute;
        transform: translate(-50%,-50%);
        top: 50%;
        left: 50%;
        border-radius: 10px;
        backdrop-filter: blur(10px);
        border: 2px solid rgba(255,255,255,0.1);
        box-shadow: 0 0 40px rgba(8,7,16,0.1);
        padding: 50px 35px;
    }
    form *{
        font-family: 'Poppins',sans-serif;
        color: black;
        letter-spacing: 0.5px;
        outline: none;
        border: none;
    }
    form h3{
        font-size: 32px;
        font-weight: 500;
        line-height: 42px;
        text-align: center;
    }
    
    label{
        display: block;
        margin-top: 30px;
        font-size: 16px;
        font-weight: 500;
    }
    input{
        display: block;
        height: 50px;
        width: 100%;
        background-color: rgba(255,255,255,0.07);
        border-radius: 3px;
        padding: 0 10px;
        margin-top: 8px;
        font-size: 14px;
        font-weight: 300;
    }
    ::placeholder{
        color: #e5e5e5;
    }
    button{
        margin-top: 50px;
        width: 100%;
        background-color: #ffffff;
        color: #080710;
        padding: 15px 0;
        font-size: 18px;
        font-weight: 600;
        border-radius: 5px;
        cursor: pointer;
    }
}
.formulario_solicitud{
    .formulario-solicitud {
        width: 400px;
        margin: 0 auto;
        background-color: #f9f9f9;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    .formulario-solicitud label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }
    
    .formulario_solicitud input[type="text"],
    .formulario_solicitud input[type="password"],
    .formulario_solicitud select {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    
    .formulario_solicitud input[type="submit"] {
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        cursor: pointer;
    }
    
    /* Estilos específicos para los elementos select */
    .formulario_solicitud select {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #fff;
        color: #333;
    }
}
