root {
    --color-principal: #ffffff;
    --color-segundario: #39A900;
    --color-background: #f2f7f9;
    --color-trasnparent: transparent;
    --color-icon: #B5B6B7;
    --color-titles: #222222;
    --color-subtitle: #888;
    --color-text: #555;
    --color-border-reviews: #E5E6E7;
    --color-company: #A5A6A7;
    --color-background-certificate: #f5f5f5;
    --color-background-contacto: #fcfcfc;

/*Estilos Generales*/
/*estilos generales*/
html {

    font-size: 10px;
    /*Esto se utiliza para establecer una base de tamaño de fuente en la página*/


}

/* CAMBIO HEADER */



body {
    width: 100%;
    height: 100%;
    font-family: "poppins", Helvetica, sans-serif;
    font-size: 1.5rem;
    background-color: var(--color-background);
    color: var(--color-text);

    overflow: hidden;

    background-image: url("../img/fondo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -20px -120px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-titles);

}

body {
    background-image: url("../img/fondo.png");
    /*imagen de fondo*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -20px -120px;
}

.fondo-imagen {
    background-image: url("{% static 'img/fondo.png'%}");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* Otros estilos según sea necesario */
}
/*estructura principal*/
.layout {
    position: relative;
    min-width: 1290px;
    width: 90%;
    height: 80vh;
    min-height: 80vh;

    margin: 10vh auto 2vh;
    /* Ajuste del margen superior para dar más espacio debajo del header */

    display: grid;
    grid-template-areas: "aside content";
    grid-template-columns: 10% 90%;
    border-radius: 4rem;
    box-shadow: 0 0 100px -5px rgba(0, 0, 0, 0.25);
}

.layout__aside {
    grid-area: aside;
    border-radius: 4rem 0 0 4rem;
    overflow: auto;
    overflow-x: hidden;
    /* Otras propiedades si las hay */
}



.aside__user-info {

    display: flex;
    flex-direction: column;


    min-height: 100%;
    min-width: 30rem;

    background-color: #39A900;
    color: var(--color-principal);

} 







.user-info__footer{
    position: absolute;
    bottom: 2rem;
    font-size: 1.2rem;
    position: center;
         
}









.layout__content {
    grid-area: content;
    height: 100%;
    min-height: 100%;
    background-color: var(--color-segundario);
    border-radius: 0 10rem 10rem 0;

    overflow-y: auto; /* Agrega desplazamiento vertical */
}

.content__page {

    min-height: 100%;
    background-color: var(--color-principal);
    border-radius: 3.2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page__name {
    font-size: 6rem;
    margin-bottom: 1rem;
}

.page__job {
    font-size: 2.1rem;
    font-weight: lighter;
    color: var(--color-subtitle);

}


/*Estilos barra de navegacion*/
.navbar {
    background-color: #39A900;
}

/*Estilos barra de navegacion*/

nav {

    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    background-color: #39A900;
    border-radius: 4rem 0 0 4rem;
    width: 90px;
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1) 
     ;
  }
  .logo{
    text-align: center;
    display: flex;
    transition: all 0.5s ease;
    margin: 10px 0 0 10px;
  
  }
  .logo img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
  
  }
  .logo span{
    font-weight: bold;
    padding-left : 15px;
    font-size: 18px;
    text-transform: uppercase;
  }
  a{
    position: relative;
    color: rgb(85, 83, 83);
    font-size: 14px;
    display: table; 
    width: 300px;
    padding: 10px;
  
  }
  .fas{

    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

nav:hover {
    width: 200px;
    transition: all 0.5s ease;
}
.layout__menu{
    
    top: 0;
    right: -105px;
    
}
.menu__list{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
    width: 60%;
    min-height: 32rem;
    padding: 2rem 0;
   
    
}
.menu__option{
    display: block;
    width: 100%;
    text-align: center;
}


.menu__icon{
    color: var(--color-icon);
    font-size: 2.8rem;
    transition: all 300ms ease-in-out;
}
.menu__option:hover .menu__icon, 
.menu__link--active .menu__icon{
    color: var(--color-segundario);
}
.menu__overlay{
    position: absolute;
    left: 5rem;
    margin-top: 1rem ;
    display: block;
    opacity: 0;
    padding: 0.5rem 1rem;
    color:var(--color-principal); 
    background-color: var(--color-segundario);
    white-space: nowrap;
    transition: all 300ms ease-in-out;
}
.menu__option:hover .menu__overlay{
    opacity: 1;
    right: 100%;
}
.logo {
    text-align: center;
    display: flex;
    transition: all 0.5s ease;
    margin: -5px;

}

.logo img {
    width: 45px;
    height: 45px;
    border-radius: 50%;

}

.logo span {
    font-weight: bold;
    padding-left: 15px;
    font-size: 18px;
    text-transform: uppercase;
}

a {
    position: relative;

    font-size: 14px;
    display: table;
    width: 300px;
    padding: 10px;

}
a:hover {
    
    background: #ffffff15;
    border-radius: 50px;
}

.fas {

    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;

}

.nav-item {
    position: relative;
    top: 12px;
    margin-left: 10px;
}



.logout {
    position: absolute;
    bottom: 0;
}


/*boton log ind / out*/
.button-86 {
  all: unset;
  width: 50px;
  height: 10px;
  font-size: 9px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-86::after,
.button-86::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.button-86::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: var(--c);
  border-radius: 10px;
}

.button-86::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.button-86:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.button-86:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.button-86:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}








/*Estilos para el footer*/
footer {
    width: 1250px;
    background-color: #39A900;
    border: 1px solid #333333;
    color: #d1d4d6;
    text-align: center;
    padding-top: 10px;
    margin: 0 auto;
    box-shadow: 0px 22px 22px gray;
    margin-bottom: 45px;
    padding-bottom: 20px;
    border-radius: 2rem;
}