{% load static %}                                                                                                               <!-- Carga de archivos estáticos -->

<!DOCTYPE html>
<html lang="es">
<head>
                                                                                                                                <!-- Metadatos -->
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Bootstrap News Template - Free HTML Templates" name="keywords">
    <meta content="Bootstrap News Template - Free HTML Templates" name="description">
    
                                                                                                                                <!-- Estilos -->
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome-free-6.1.2-web/css/all.min.css' %}">                       <!-- Archivo de estilos de Font Awesome -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">                                                 <!-- Archivo de estilos personalizado -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">                                                 <!-- Otro archivo de estilos personalizado -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}">                                            <!-- Archivo de estilos para diseño responsivo -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/news.css' %}">                                                  <!-- Archivo de estilos para noticias -->
    <link rel="stylesheet" href="{% static 'assets/fonts/poppins/poppins.css' %}">                                              <!-- Archivo de estilos de la fuente Poppins -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">                  <!-- Archivo de estilos de Bootstrap Icons -->
                                                                                                                                <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">                                                                                    <!-- Ícono del sitio web -->
                                                                                                                                <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">                     <!-- Hojas de estilo de Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">                   <!-- Hojas de estilo de Font Awesome -->
        <link href="{% static 'lib/slick/slick.css' %}" rel="stylesheet">                                                       <!-- Archivo de estilos del slider Slick -->
    <link href="{% static 'lib/slick/slick-theme.css' %}" rel="stylesheet">                                                     <!-- Tema del slider Slick -->
                                                                                                                                <!-- CSS de Bootstrap -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">                                                         <!-- Hojas de estilo de Bootstrap -->
                                                                                                                                <!-- JavaScript de Bootstrap (jQuery debe incluirse primero) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>                                    <!-- Biblioteca jQuery -->
    <script src="{% static 'css/bootstrap.bundle.min.js' %}"></script>                                                          <!-- Archivo de JavaScript de Bootstrap -->
    <script src="{% static 'todo_js/todo.js' %}"></script>                                                                      <!-- Archivo de JavaScript personalizado -->
                                                                                                                                <!-- Título de la página -->
    <title>{% block tituloventana %}{% endblock %} - Sena-Bilinguismo</title>                                                   <!-- Título dinámico de la página -->
</head>
<body>                                                                                                                          <!-- Inicio del cuerpo de la página -->
                                                                                                                                <!-- Layout principal -->
    <div class="layout">                                                                                                        <!-- Contenedor principal del layout -->
                                                                                                                                <!-- Barra lateral -->
        <aside class="layout__aside">                                                                                           <!-- Sección de la barra lateral -->
                                                                                                                                <!-- Información general del usuario -->
            <body>                                                                                                              <!-- Esto parece ser un error, debería ser un comentario o eliminarse -->
                <nav class="layout__menu">                                                                                      <!-- Inicio de la barra de navegación -->
                    <ul class="menu__list">                                                                                     <!-- Lista no ordenada de elementos de navegación -->
                                                                                                                                <!-- Verificación de si el usuario está autenticado -->
                        {% if user.is_authenticated %}
                                                                                                                                <!-- Si el usuario está autenticado, se muestra su rol -->
                            <button  class="button-86"  onclick="location.href='{% url 'usuarios:logout' %}'">
                                                                                                                                <!-- Texto del botón -->
                                <i class="fas fa-sign-out"></i>
                                <span >Cerrar sesión </span>
                                                                                                                                <!-- Icono de "cerrar sesión" -->
                             </button>
                            <li class="menu__option">                                                                           <!-- Elemento de lista cabezera -->
                                                                                                                                <!-- Enlace al sitio principal con la clase "logo" -->
                                <a class="logo">
                                                                                                                                 <!-- Imagen del logo con una ruta estática -->
                                    <img src="{% static "img/logo/b-team.jpeg" %}" />
                                                                                                                                 <!-- Texto  -->
                                    <span class="menu__overlay">Bilinguismo</span>
                                </a>
                            </li>
                            <p>Bienvenido: {{ user.userprofile.id_rol.nombre }}</p>

                        {% else %}
                                                                                                                                <!-- Si el usuario no está autenticado, se muestra un mensaje -->
                            <li class="menu__option">                                                                           <!-- Elemento de lista cabezera -->
                                                                                                                                <!-- Enlace al sitio principal con la clase "logo" -->
                                <a class="logo">
                                                                                                                                 <!-- Imagen del logo con una ruta estática -->
                                    <img src="{% static "img/logo/b-team.jpeg" %}" />
                                
                                    <span class="menu__overlay" >Bilinguismo</span>
                                </a>
                            </li>
                            <li class="menu__option">
                                <a class="logo" href={% url 'usuarios:login_user' %}>
                                    <i class="menu__icon fas fa-newspaper"></i>                                                 <!-- Icono de periódico -->
                                                                                                                                <!-- Texto para mostrar noticias a todos los usuarios -->
                                    <span class="menu__overlay"> Iniciar Sesion</span>
                                </a>
                            </li>
                            
                        {% endif %}
                                                                                                                                <!-- Elemento de lista con un enlace a la página de inicio de usuarios -->
                        <li class="menu__option">
                            <a class="logo" href="{% url 'inicio_usuarios' %}">
                                <i class="menu__icon fas fa-newspaper"></i>                                                     <!-- Icono de periódico -->
                                                                                                                                <!-- Texto para mostrar noticias a todos los usuarios -->
                                <span class="menu__overlay"> Noticias</span>
                            </a>
                        </li>
                                                                                                                                <!-- Elemento de lista con un enlace para crear una solicitud de usuario -->
                        <li class="menu__option"> 
                            <a class="logo" href="{% url 'usuarios:crearsoli_usuario' %}">
                                <i class="menu__icon fas fa-clipboard-list"></i>                                                <!-- Icono de lista de tareas -->
                                                                                                                                <!-- Texto para crear solicitud de usuarios generales -->
                                <span class="menu__overlay">Solicitud </span>
                            </a>
                        </li>
                                                                                                                                <!-- Elemento de lista con un enlace a la página de inicio de usuarios -->
                                    {% if request.user.is_authenticated %}
                                        {% if user.userprofile.id_rol.id_rol == 1%}
                                            <li class="menu__option"> 
                                                                                                                                <!-- Elemento de lista -->
                                                <a class="logo">
                                                                                                                                <!-- Enlace vacío (sin URL definida) -->
                                                    <i class="menu__icon fas fa-user"></i>
                                                                                                                                <!-- Icono de usuario -->
                                                    <span class="menu__overlay">solo para el APRENDIZ 1 </span>
                                                                                                                                <!-- Texto indicando "solo para el APRENDIZ 1" -->
                                                </a>
                                            </li>
                                            <li class="menu__option">
                                                                                                                                <!-- Elemento de lista -->
                                                <a class="logo">
                                                                                                                                <!-- Enlace vacío (sin URL definida) -->
                                                    <i class="menu__icon fas fa-user"></i>
                                                                                                                                <!-- Icono de usuario -->
                                                    <span class="menu__overlay">solo para el APRENDIZ 2</span>
                                                                                                                                 <!-- Texto indicando "solo para el APRENDIZ 2" -->
                                                </a>
                                            </li>
                                            <li class="menu__option">
                                                                                                                                <!-- Elemento de lista -->
                                                <a class="logo">
                                                                                                                                <!-- Enlace vacío (sin URL definida) -->
                                                    <i class="menu__icon fas fa-user"></i>
                                                                                                                                <!-- Icono de usuario -->
                                                    <span class="menu__overlay">solo para el APRENDIZ 3 </span>
                                                                                                                                <!-- Texto indicando "solo para el APRENDIZ 3" -->
                                                </a>
                                            </li>
                                        

                                        {% endif %}
                                        
                                        {% if user.userprofile.id_rol.id_rol == 2%}
                                            <li class="menu__option">
                                                                                                                                <!-- Elemento de lista -->
                                                <a class="logo">
                                                                                                                                <!-- Enlace vacío (sin URL definida) -->
                                                    <i class="menu__icon fas fa-user"></i>
                                                                                                                                <!-- Icono de usuario -->
                                                    <span class="menu__overlay">solo para el INSTRUCTOR  1 </span>
                                                                                                                                <!-- Texto indicando "solo para el INSTRUCTOR  1" -->
                                                </a>
                                            </li>
                                            <li class="menu__option"> 
                                                                                                                                <!-- Elemento de lista -->
                                                <a class="logo">
                                                                                                                                <!-- Enlace vacío (sin URL definida) -->
                                                    <i class="menu__icon fas fa-user"></i>
                                                                                                                                <!-- Icono de usuario -->
                                                    <span class="menu__overlay">solo para el INSTRUCTOR  2 </span>
                                                                                                                                <!-- Texto indicando "solo para el INSTRUCTOR  2" -->
                                                </a>
                                            </li>
                                            <li class="menu__option"> 
                                                                                                                                <!-- Elemento de lista -->
                                                <a class="logo">
                                                                                                                               <!-- Enlace vacío (sin URL definida) -->
                                                    <i class="menu__icon fas fa-user"></i>
                                                                                                                               <!-- Icono de usuario -->
                                                    <span class="menu__overlay">solo para el INSTRUCTOR  3 </span>
                                                                                                                               <!-- Texto indicando "solo para el INSTRUCTOR  3" -->
                                                </a>
                                            </li>
                                            
                                        {% endif %}
                                            
                                        {% if user.userprofile.id_rol.id_rol == 3%}

                                            <li class="menu__option">
                                                                                                                                <!-- Elemento de lista -->
                                                <a class="logo" href="{% url 'coordinacion:inicio_coordinacion' %}">
                                                                                                                                <!-- Enlace dinámico que apunta a la URL 'coordinacion:inicio_coordinacion' -->
                                                    <i class="menu__icon fas fa-users-cog"></i>                                 <!-- Icono de configuración de usuarios -->
                                                
                                                    <span class="menu__overlay">Panel de Administrador</span>
                                                                                                                                <!-- Texto indicando "Panel de Administrador" -->
                                                </a>
                                            </li>
                                            <li class="menu__option">
                                                                                                                                 <!-- Elemento de lista -->
                                                <a class="logo" href="{% url 'coordinacion:noticias' %}">
                                                                                                                                <!-- Enlace dinámico que apunta a la URL 'coordinacion:noticias' -->
                                                    <i class="menu__icon fas fa-bullhorn"></i>                                  <!-- Icono de megáfono -->
                                                    <span class="menu__overlay">Crear Noticias Administrador </span>
                                                                                                                                 <!-- Texto indicando "Crear Noticias Administrador" -->
                                                </a>
                                            </li>
                                            <li class="menu__option"> 
                                                                                                                                <!-- Otro elemento de lista -->
                                                <a class="logo" href="{% url 'coordinacion:actualizarperfil' %}">
                                                                                                                                <!-- Enlace dinámico que apunta a la URL 'coordinacion:actualizarperfil' -->
                                                    <i class="menu__icon fas fa-user-cog"></i>                                  <!-- Icono de configuración de usuario -->
                                                    <span class="menu__overlay">Actuaizar Perfil Admnistrador</span>
                                                                                                                                <!-- Texto indicando "actuaizar perfil Admnistrador" -->
                                                </a>
                                            </li>
                                            <li class="menu__option">
                                                                                                                                <!-- Otro elemento de lista -->
                                                <a class="logo" href="{% url 'coordinacion:gestiondepermisos' %}">
                                                                                                                                <!-- Enlace dinámico que apunta a la URL 'coordinacion:actualizarperfil' -->
                                                    <i class="menu__icon fas fa-user-lock"></i>                                 <!-- Icono de usuario con candado -->
                                                    <span class="menu__overlay">Gestión De Permisos Administrador</span>
                                                                                                                                <!-- Texto indicando "Gestión de Permisos Administrador" -->
                                                </a>
                                            </li>
                                        {% endif %}


                                    {% else %}
                                                                                                                                <!-- Comienza un elemento de lista -->
                                        <li class="menu__option"> 
                                                                                                                                <!-- Define un enlace con una URL dinámica -->
                                            <a class="logo" href="{% url 'usuarios:crearsoli_usuario' %}">
                                                                                                                                <!-- Icono de Font Awesome que representa una industria -->
                                                <i class="menu__icon fas fa-industry"></i>
                                                                                                                                <!-- Texto que indica "seccion para empresas" -->
                                                <span class="menu__overlay">Bolsa Coorporativa</span>
                                            </a>
                                        </li> 
                                                                                                                                <!-- Fin del elemento de lista -->
                                    {% endif %}

                                    {% if request.user.is_authenticated %}
                                        <li class="menu__option">
                                                                                                                                <!-- Elemento de lista -->
                                            <a class="logo">
                                                                                                                                <!-- Enlace sin destino especificado -->
                                                <i class="menu__icon fas fa-book-open"></i>                                     <!-- Icono de libro abierto -->
                                                <span class="menu__overlay"> PROGRAMAS DE FORMACION EN INGLES</span>
                                                                                                                                <!-- Texto indicando "CURSOS DE INGLES" -->
                                            </a>
                                        </li>
                                        <li class="menu__option">       
                                                                                                                               <!-- Otro elemento de lista -->
                                            <a class="logo">
                                                                                                                                <!-- Enlace sin destino especificado -->
                                                <i class="menu__icon fas fa-user"></i>
                                                                                                                                <!-- Icono de usuario -->
                                                <span class="menu__overlay"> para usuarios registrados 2</span>
                                                                                                                                <!-- Texto indicando "para usuarios registrados 2" -->
                                            </a>
                                        </li>
                                        <li class="menu__option"> 
                                                                                                                                <!-- Elemento de lista -->
                                            <a class="logo" href="">
                                                                                                                                <!-- Enlace sin destino especificado -->
                                                <i class="menu__icon fas fa-user"></i>
                                                                                                                                <!-- Icono de usuario -->
                                                <span class="menu__overlay"> para usuarios registrados 3</span>
                                                                                                                                 <!-- Texto indicando para usuarios registrados 3 -->
                                            </a>
                                        </li>
                                        
                                    {% else %}
                                        <li class="menu__option">                                                               <!-- Comienza un nuevo elemento de lista en el menú de navegación -->
                                            <a class="logo" href="#">                                                           <!-- Define un enlace con un marcador de posición "#" -->
                                                <i class="menu__icon fas fa-graduation-cap"></i>
                                                <span class="menu__overlay">PROGRAMAS DE FORMACION  </span>                     <!-- Texto del menú de navegación -->
                                            </a>                                                                                <!-- Fin del enlace -->
                                        </li>                                                                                   <!-- Fin del elemento de lista -->
                                            <li class="menu__option">                                                           <!-- Comienza un nuevo elemento de lista en el menú de navegación -->
                                            <a class="logo" href="#">                                                           <!-- Define un enlace con un marcador de posición "#" -->
                                                <i class="menu__icon fas fa-question-circle"></i>                               <!-- Icono de pregunta dentro del enlace -->
                                                <span class="menu__overlay">sin autenticar  general 2 </span>                   <!-- Texto del menú de navegación -->
                                            </a>                                                                                <!-- Fin del enlace -->
                                        </li>                                                                                   <!-- Fin del elemento de lista -->
                                                                                                                                <!-- Fin del elemento de lista -->
                                    {% endif %}
                    </ul>
                </nav>
            </body>  
        </aside>
                                                                                                                                <!--layout principal-->
    <main class="layout__content">                                                                                              <!-- Define el contenido principal del diseño -->
        <section class="content__page">                                                                                         <!-- Define una sección de la página -->
            {% block content %}                                                                                                 <!-- Define un bloque de contenido llamado "content" -->
            {% endblock %}                                                                                                      <!-- Finaliza el bloque de contenido -->
        </section>
    </main>
    </div>                                                                                                                      <!-- Cierra el div principal -->
                                                                                                                                <!-- Bootstrap JavaScript Libraries -->
                                                                                                                                <!-- Incluye la biblioteca Popper.js, que es una dependencia de Bootstrap para manejar la posición emergente y la información sobre herramientas -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous">
</script>
                                                                                                                                <!-- Incluye la biblioteca Bootstrap.min.js, que contiene los scripts de Bootstrap para las funcionalidades de los componentes -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous">
</script>
                                                                                                                                <!-- JavaScript Libraries -->
                                                                                                                                <!-- Incluye jQuery, una biblioteca de JavaScript que simplifica la manipulación del DOM y el manejo de eventos -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

                                                                                                                                <!-- Incluye bootstrap.bundle.min.js, que es una versión empaquetada de Bootstrap que incluye jQuery y Popper.js -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
                                                                                                                                <!-- Incluye easing.min.js, que proporciona funciones de aceleración para las animaciones -->
<script src="{% static "lib/easing/easing.min.js" %}"></script>
                                                                                                                                <!-- Incluye slick.min.js, que es una biblioteca para crear carruseles y sliders -->
<script src="{% static "lib/slick/slick.min.js" %}"></script>

                                                                                                                                <!-- Template Javascript -->
                                                                                                                                <!-- Incluye main.js, que contiene scripts específicos del sitio web o la aplicación -->
<script src="{% static "js/main.js" %} "></script>
</body>
</html>
