{% extends "layout/layout.html" %}

{% block tituloventana %} {{tituloventana}} {% endblock  %}
{% block titulo %}NOTICIAS{% endblock  %}
{% block content %}
<h1 class="page__name">B-TEMA</h1>
<h2 class="page__job">Analistas y Desarrolladores SOFTWARE 2</h2>



    <h2>Formulario de Publicación de Noticias</h2>
    
    <div class="container">
        <div class="row">
            <!-- Panel de Permisos para Aprendiz -->
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-body">
                        <h2>Panel de Permisos para usuario sin AUTENTICAR</h2>
                        <h5 class="card-title">Habilitar/Inhabilitar Funciones</h5>
                        <p class="card-text">Administra las funciones disponibles para los aprendices.</p>
                        <!-- Lista de funciones con interruptores para habilitar/deshabilitar -->
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="crearUsuario">
                            <label class="form-check-label" for="crearUsuario">Crear su usuario</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="verDetallesUsuario">
                            <label class="form-check-label" for="verDetallesUsuario">Ver detalles de usuarios</label>
                        </div>
                        <!-- Agrega más funciones según sea necesario -->
    
                        <!-- Funciones de Gestión de Competencias -->
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="editarCompetencia">
                            <label class="form-check-label" for="editarCompetencia">Editar competencias existentes</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="asociarCompetencia">
                            <label class="form-check-label" for="asociarCompetencia">Asociar competencias a programas de formación</label>
                        </div>
                        <!-- Funciones de Gestión de Solicitudes -->
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="crearSolicitud">
                            <label class="form-check-label" for="crearSolicitud">Crear nuevas solicitudes</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="verDetallesSolicitud">
                            <label class="form-check-label" for="verDetallesSolicitud">Ver detalles de las solicitudes</label>
                        </div>
                        <!-- Funciones de Gestión de Programas de Formación -->
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="eliminarProgramaFormacion">
                            <label class="form-check-label" for="eliminarProgramaFormacion">Listar programas de formación</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="asociarProgramaFormacion">
                            <label class="form-check-label" for="asociarProgramaFormacion">Consultar programas de formación con competencias y otros detalles</label>
                        </div>
                        <!-- Agrega más funciones según sea necesario -->
                        <button type="submit" class="btn btn-primary mt-3">Guardar Cambios</button>
                    </div>
                </div>
            </div>
    
            <!-- Panel de Permisos para Instructor -->
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-body">
                        <h2>Panel de Permisos para Instructor</h2>
                        <h5 class="card-title">Habilitar/Inhabilitar Funciones</h5>
                        <p class="card-text">Administra las funciones disponibles para los instructores.</p>
                        <!-- Lista de funciones con interruptores para habilitar/deshabilitar -->
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="editarUsuario">
                            <label class="form-check-label" for="editarUsuario">Editar su usuario</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="verDetallesUsuario">
                            <label class="form-check-label" for="verDetallesUsuario">Ver detalles de usuarios</label>
                        </div>
                        <!-- Agrega más funciones según sea necesario -->
    
                        <!-- Funciones de Gestión de Roles -->
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="crearRol">
                            <label class="form-check-label" for="crearRol">Ver roles</label>
                        </div>
    
                        <!-- Funciones de Gestión de Competencias -->
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="crearCompetencia">
                            <label class="form-check-label" for="crearCompetencia">Listar nuevas competencias</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="asociarCompetencia">
                            <label class="form-check-label" for="asociarCompetencia">Listar competencias y programas de formación</label>
                        </div>
                        <!-- Funciones de Gestión de Solicitudes -->
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="crearSolicitud">
                            <label class="form-check-label" for="crearSolicitud">Crear nuevas solicitudes</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="revisarSolicitud">
                            <label class="form-check-label" for="revisarSolicitud">Revisar solicitudes pendientes</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="verDetallesSolicitud">
                            <label class="form-check-label" for="verDetallesSolicitud">Ver detalles de las solicitudes</label>
                        </div>
                        <!-- Funciones de Gestión de Programas de Formación -->
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="crearProgramaFormacion">
                            <label class="form-check-label" for="crearProgramaFormacion">Consultar nuevos programas de formación</label>
                        </div>
                        <!-- Agrega más funciones según sea necesario -->
                        <button type="submit" class="btn btn-primary mt-3">Guardar Cambios</button>
                    </div>
                </div>
            </div>
    
            <!-- Panel de Permisos para Coordinador -->
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-body">
                        <h2>Panel de Permisos para Coordinador</h2>
                        <h5 class="card-title">Habilitar/Inhabilitar Funciones</h5>
                        <p class="card-text">Administra las funciones disponibles para los coordinadores.</p>
                        <!-- Lista de funciones con interruptores para habilitar/deshabilitar -->
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="editarUsuario">
                            <label class="form-check-label" for="editarUsuario">Editar su usuario</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="verDetallesUsuario">
                            <label class="form-check-label" for="verDetallesUsuario">Ver detalles de usuarios</label>
                        </div>
                        <!-- Agrega más funciones según sea necesario -->
    
                        <!-- Funciones de Gestión de Roles -->
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="crearRol">
                            <label class="form-check-label" for="crearRol">Listar roles</label>
                        </div>
    
                        <!-- Funciones de Gestión de Competencias -->
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="crearCompetencia">
                            <label class="form-check-label" for="crearCompetencia">Crear nuevas competencias</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="editarCompetencia">
                            <label class="form-check-label" for="editarCompetencia">Editar competencias existentes</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="eliminarCompetencia">
                            <label class="form-check-label" for="eliminarCompetencia">Eliminar competencias</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="asociarCompetencia">
                            <label class="form-check-label" for="asociarCompetencia">Asociar competencias a programas de formación</label>
                        </div>
                        <!-- Funciones de Gestión de Solicitudes -->
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="crearSolicitud">
                            <label class="form-check-label" for="crearSolicitud">Crear nuevas solicitudes</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="revisarSolicitud">
                            <label class="form-check-label" for="revisarSolicitud">Revisar solicitudes pendientes</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="verDetallesSolicitud">
                            <label class="form-check-label" for="verDetallesSolicitud">Ver detalles de las solicitudes</label>
                        </div>
                        <!-- Funciones de Gestión de Programas de Formación -->
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="eliminarProgramaFormacion">
                            <label class="form-check-label" for="eliminarProgramaFormacion">Listar programas de formación</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="asociarProgramaFormacion">
                            <label class="form-check-label" for="asociarProgramaFormacion">Asociar programas de formación con competencias y otros detalles</label>
                        </div>
                        <!-- Agrega más funciones según sea necesario -->
                        <button type="submit" class="btn btn-primary mt-3">Guardar Cambios</button>
                    </div>
                </div>
            </div>
    
            <!-- Panel de Permisos dentro del sistema para Coordinador -->
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-body">
                        <h2>Panel de Permisos EN FUNCIONES DENTRO DEL SISTEMA PARA COORDINADOR</h2>
                        <h5 class="card-title">Habilitar/Inhabilitar Funciones</h5>
                        <p class="card-text">Administra las funciones disponibles para la gestión de usuarios.</p>
                        <!-- Lista de funciones con interruptores para habilitar/deshabilitar -->
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="crearUsuario">
                            <label class="form-check-label" for="crearUsuario">Crear usuarios</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="editarUsuario">
                            <label class="form-check-label" for="editarUsuario">Editar usuarios</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="eliminarUsuario">
                            <label class="form-check-label" for="eliminarUsuario">Eliminar usuarios</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="verDetallesUsuario">
                            <label class="form-check-label" for="verDetallesUsuario">Ver detalles de usuarios</label>
                        </div>
                        <!-- Agrega más funciones según sea necesario -->
    
                        <!-- Funciones de Gestión de Roles -->
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="crearRol">
                            <label class="form-check-label" for="crearRol">Crear roles</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="asignarRol">
                            <label class="form-check-label" for="asignarRol">Asignar roles a usuarios</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="modificarRol">
                            <label class="form-check-label" for="modificarRol">Modificar roles</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="eliminarRol">
                            <label class="form-check-label" for="eliminarRol">Eliminar roles</label>
                        </div>
    
                        <!-- Funciones de Gestión de Competencias -->
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="crearCompetencia">
                            <label class="form-check-label" for="crearCompetencia">Crear nuevas competencias</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="editarCompetencia">
                            <label class="form-check-label" for="editarCompetencia">Editar competencias existentes</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="eliminarCompetencia">
                            <label class="form-check-label" for="eliminarCompetencia">Eliminar competencias</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="asociarCompetencia">
                            <label class="form-check-label" for="asociarCompetencia">Asociar competencias a programas de formación</label>
                        </div>
    
                        <!-- Funciones de Gestión de Solicitudes -->
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="crearSolicitud">
                            <label class="form-check-label" for="crearSolicitud">Crear nuevas solicitudes</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="revisarSolicitud">
                            <label class="form-check-label" for="revisarSolicitud">Revisar solicitudes pendientes</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="aprobarSolicitud">
                            <label class="form-check-label" for="aprobarSolicitud">Aprobar o rechazar solicitudes</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="verDetallesSolicitud">
                            <label class="form-check-label" for="verDetallesSolicitud">Ver detalles de las solicitudes</label>
                        </div>
    
                        <!-- Funciones de Gestión de Programas de Formación -->
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="crearProgramaFormacion">
                            <label class="form-check-label" for="crearProgramaFormacion">Crear nuevos programas de formación</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="editarProgramaFormacion">
                            <label class="form-check-label" for="editarProgramaFormacion">Editar programas de formación existentes</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="eliminarProgramaFormacion">
                            <label class="form-check-label" for="eliminarProgramaFormacion">Eliminar programas de formación</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="asociarProgramaFormacion">
                            <label class="form-check-label" for="asociarProgramaFormacion">Asociar programas de formación con competencias y otros detalles</label>
                        </div>
                        <button type="submit" class="btn btn-primary mt-3">Guardar Cambios</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    </form>





    
</div>


{% endblock %}



