{% extends "layout/layout.html" %}

{% block tituloventana %} {{tituloventana}} {% endblock  %}
{% block titulo %}NOTICIAS{% endblock  %}
{% block content %}
{% load static %}
      
        
        <div class="breadcrumb-wrap">
            <div class="container">
                <ul class="breadcrumb">
                   
                    <li class="breadcrumb-item"><a href="{% url 'crear' %}">Nuevo</a></li>
                    <li class="breadcrumb-item">
                        <a href="#" data-toggle="modal" data-target="#crearModal">Nuevo</a>
                    </li>
                    

                    
                    <li class="breadcrumb-item"><a href="{% url 'editar'  %} ">Editar</a></li>
                   
                                           
                    
            
                </ul>
            </div>
        </div>
        
        <!-- Modal -->
        <div class="modal fade" id="crearModal" tabindex="-1" role="dialog" aria-labelledby="crearModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="crearModalLabel">Crear Nuevo Elemento</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                <!-- formulario -->
                
                    {% csrf_token %}
                    {% for campo in formulario %}
                    <div class="mb-3">
                        <label for="" class="form-label">{{ campo.label }}</label>
                        {% if campo.field.widget.input_type == 'file' and campo.value %}
                        <br/>
                        <img src="{{MEDIA_URL}}/imagenes/{{campo.value}}" width="70" alt="" srcset="">
                        {% endif %}
                        <input 
                        type="{{campo.field.widget.input_type}}"
                        class="form-control" 
                        name="{{ campo.name}}" 
                        id="" 
                        aria-describedby="helpId" 
                        placeholder="{{ campo.label }}"
                        value="{{ campo.value | default:''}}"
                        />
                    </div>
                    <div class="col-12 help-text"> {{ campo.errors }} </div>
                    {% endfor %}
                    <input name="" id="" class="btn btn-success" type="submit" value="Enviar"/>
                    <a name="" id="" class="btn btn-primary" href="{% url 'noti' %}" role="button">Cancelar</a>
                </form>
                </div>
            </div>
            </div>
        </div>
        <!-- Single News-->
        <div class="single-news">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <!-- Tarjeta para el primer elemento -->
                        <div class="card">
                            <div class="card-body">
                                {% for note in noti %}
                                {% if forloop.counter == 1 %}
                                <div class="sn-img">
                                    <div class="col-md-4">
                                        <div class="sn-img">
                                            <img src="{{ note.imagen.url }}" class="card-img-top mx-auto d-block" alt="...">
                                        </div>
                                    </div>
                                </div>
                                <div class="sn-content">
                                    <h5 class="card-title">{{ note.titulo }}</h5>
                                    <p class="card-text">{{ note.descripcion }}</p>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="sn-related">
                            <h2>NOTICIAS PUBLICADAS</h2>
                            <div class="row sn-slider">
                                {% for note in noti %}
                                {% if forloop.counter <= 5 %}
                                <div class="col-md-4">
                                    <div class="sn-img">
                                        <img src="{{ note.imagen.url }}" height="70" />
                                        <div class="sn-title">
                                            <a href="">Noticias Aprobadas </a>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>


                    
                    <div class="col-lg-5">
                        <div class="card">
    
                            <div class="card-body">
                                <h4 class="card-title">TODAS TUS NOTICIAS</h4>
                        
                                <div
                                    class="table-responsive"
                                >
                                    <table
                                        class="table table-primary"
                                    >
                                        <thead>
                                            <tr>
                                                
                                                <th scope="col">Títulos</th>
                                                <th scope="col">Imagen</th>
                                               
                                                
                                                <th scope="col">Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                        
                                            {% for note in noti %}
                                            <tr class="">
                                                
                                                <td>{{note.titulo }}</td>
                                                <td>
                                                    <img src="{{note.imagen.url }}" height="70" />
                                                </td>
                                                
                                               
                                                <td>
                                                    <a name="" id="" class="btn btn-info" href="{% url 'editar' note.id %}" role="button">Editar</a>
                                                    | 
                                                    
                                                    <a name="" id="" class="btn btn-danger" href="{% url 'eliminar' note.id %}" role="button">Borrar</a>
                                                    |
                                                    
                                                    <!-- Botón para abrir el modal -->
                                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                        Abrir
                                                    </button>
                                                    
                                                    <!-- Modal -->
                                                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">{{ note.titulo }}</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                               
                                                                    <img src="{{ note.imagen.url }}" height="200" />
                                                               
                                                            </div>
                                                            <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                                            </div>
                                                        </div>
                                                        </div>
                                                    </div>
                                                
                                                </td>

                        
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                
                            </div>
                            
                          
                        </div>
                    </div>
                </div>
            </div>
        
        
    </div>
        
        
    
</section>
{% endblock %}

