{% extends "layout/layout.html" %}

{% block tituloventana %} {{tituloventana}} {% endblock  %}
{% block titulo %}INICIO{% endblock  %}
{% block content %}

<h1 class="inicio__titulo"> 
    ¡Bienvenido/a! 
</h1>

 <p class="inicio__texto"> 
    🎉  INICIA SECCION Ingresando con tus credenciales y únete LA PLATAFORMA DE BILINGUISMO SENA  🎉
</p>
 
<p class="inicio__texto"> 
     Si aún no tienes una cuenta, puedes crearla aquí.
</p>

<h2 class="inicio__titulo"> 
     ¡Estamos emocionados de tenerte aquí!

</h2>


{% endblock %}



