{% extends "layout/layout.html" %}

{% block tituloventana %} {{tituloventana}} {% endblock  %}
{% block titulo %}Solicitud{% endblock  %}
{% block content %}
<div class="container">
    <h2>Mis Solicitudes - Usuario</h2>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Crear
    </button>
    {% if request.user.is_authenticated %}
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <!-- Agrega más columnas según sea necesario -->
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                
                {% for tiposolicitud in detallesolicitud %}
                    <tr>
                        <td>{{ tiposolicitud.id_detallesolicitud }}</td>
                        <td>{{ tiposolicitud.nombre }}</td>
                        <td>{{ tiposolicitud.descripcion }}</td>
                        <!-- Agrega más celdas según sea necesario -->
                        <td>
                            <a href="" class="btn btn-warning btn-sm">Editar</a>
                            <a href="{% url 'usuarios:eliminartiposoli_usuario' tiposolicitud.id_detallesolicitud %}" class="btn btn-danger btn-sm">Eliminar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h1> Realiza una solicitud o inicia sesion para que puedas ver tus solicitudes
            
    {% endif %}


</div>
<!-- Button trigger modal -->


    <!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'usuarios:registro' %}">
                    {% csrf_token %}
                    <label for="id_municipio">De donde Realiza su SOLICITUD ?</label><br>
                    <div class="row mt-12">
                        <div class="col-sm-12" >
                            <h6 class="modal-title">Depto<h6>
                            <select class="form-control" id="cod_dpto" name="cod_dpto"  title='' style='cursor:pointer;' >
                                <option></option>
                                {% for depto in depto %}
                                    <option value="{{ depto.cod_dpto }}">{{ depto.nombre_dpto }}</option>
                                {% endfor %}							
                            </select>
                        </div>
                    </div>
                    <div class="row mt-12">
                        <div class="col-sm-12">
                            <h6 class="modal-title">Municipio</h6>
                            <script>
                                document.getElementById('cod_dpto').addEventListener('change', function() {
                                    var departamento = this.value;
                                    var municipioSelect = document.getElementById('cod_municipio');
                                    // Limpiar opciones actuales
                                    municipioSelect.innerHTML = '';
                                    // Obtener opciones de municipio según el departamento seleccionado
                                    fetch(`/get_municipios/?departamento=${departamento}`)
                                        .then(response => response.json())
                                        .then(data => {
                                            // Agregar las nuevas opciones al select
                                            data.forEach(municipio => {
                                                var option = document.createElement('option');
                                                option.value = municipio.cod_municipio;
                                                option.textContent = municipio.nombre_municipio;
                                                municipioSelect.appendChild(option);
                                            });
                                        });
                                });
                            </script>
                            <select class="form-control" id="cod_municipio" name="cod_municipio" title='' style='cursor:pointer;'>
                                <option></option>
                            </select>
                        </div>  
                    </div>				
                    <div class="row mt-12">
                        <div class="col-sm-12" >
                            <h6 class="modal-title">Poblado<h6>
                                <script>
                                    document.getElementById('cod_municipio').addEventListener('change', function() {
                                        var municipios = this.value;
                                        var PobladoSelect = document.getElementById('cod_poblado');
                                        // Limpiar opciones actuales
                                        PobladoSelect.innerHTML = '';
                                        // Obtener opciones de municipio según el departamento seleccionado
                                        fetch(`/get_poblados/?municipios=${municipios}`)
                                            .then(response => response.json())
                                            .then(data => {
                                                // Agregar las nuevas opciones al select
                                                data.forEach(poblado => {
                                                    var option = document.createElement('option');
                                                    option.value = poblado.cod_poblado;
                                                    option.textContent = poblado.nombre_poblado;
                                                    PobladoSelect.appendChild(option);
                                                });
                                            });
                                    });
                                </script>
                            <select class="form-control" id="cod_poblado" name="cod_poblado"  title='' style='cursor:pointer;' >
                                <option></option>
                            </select>
                        </div>
                    </div>	
                    <label for="id_municipio">Por favor digite aqui el nombre/numero de: Barrio-Comuna y Direccion </label><br>
                    <input type="text" name="id_direccion" id="id_direccion" class="form-control"> <br>
                    <select name="id_doc" class="form-control" id="id_doc">
                        <option value="">Selecciona su tipo de documento</option>
                        {% for doc in tipodoc %}
                            <option value="{{ doc.id_doc }}">{{ doc.nombre }}</option>
                        {% endfor %}
                    </select>
                    
                    <div class="form-group">
                        {{ register_form.username.label_tag }}
                        {{ register_form.username }}
                    </div>
                    <div class="form-group">
                        {{ register_form.email.label_tag }}
                        {{ register_form.email }}
                    </div>
                    <div class="form-group">
                        {{ register_form.first_name.label_tag }}
                        {{ register_form.first_name }}
                    </div>
                    <div class="form-group">
                        {{ register_form.last_name.label_tag }}
                        {{ register_form.last_name }}
                    </div>
                    <div class="form-group">
                        {{ register_form.password1.label_tag }}
                        {{ register_form.password1 }}
                    </div>
                    <div class="form-group">
                        {{ register_form.password2.label_tag }}
                        {{ register_form.password2 }}
                    </div>
                        
                    </form>
                    <form action="usuarios:crearsoli_usuario" method="post">
                        {% csrf_token %}
                        <label for="id_tiposolicitud"> Seleccione TIPO DE SOLICITUD</label><br>
                        <select name="id_tiposolicitud" id="id_tiposolicitud" onchange="MostrarTipo_soli()">
                        <option></option>
                        {% for tiposolicitud in tiposoli %}
                            <option value="{{ tiposolicitud.id_tiposolicitud }}">{{ tiposolicitud.nombre }}</option>
                        {% endfor %}
                        </select><br>
                        <label for="descripcion">Descripción</label><br>
                        <textarea name="descripcion" id="descripcion" cols="30" rows="5"></textarea><br><br>
                        <div id="tipo_soli"></div>
                        {% comment %}  {% endcomment %}
                    </form>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar Sección</button>
            <input class="btn btn-primary" type="submit" name="Enviar" value="Enviar">
            </div>
            </div>
        </div>
    </div>
    




{% comment %} NO FUNCIONAAA {% endcomment %}
<!-- Button trigger modal -->

  
  <!-- Modal -->
<!--NO FUNCIONA
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
        <div class="modal-body">
            <form method="post" action="{% url 'usuarios:registro' %}">
                {% csrf_token %}
                <label for="id_municipio">De donde Realiza su SOLICITUD ?</label><br>
                <div class="row mt-12">
                    <div class="col-sm-12" >
                        <h6 class="modal-title">Depto<h6>
                        <select class="form-control" id="cod_dpto" name="cod_dpto"  title='' style='cursor:pointer;' >
                            <option></option>
                            {% for depto in depto %}
                                <option value="{{ depto.cod_dpto }}">{{ depto.nombre_dpto }}</option>
                            {% endfor %}							
                        </select>
                    </div>
                </div>
                <div class="row mt-12">
                    <div class="col-sm-12">
                        <h6 class="modal-title">Municipio</h6>
                        <script>
                            document.getElementById('cod_dpto').addEventListener('change', function() {
                                var departamento = this.value;
                                var municipioSelect = document.getElementById('cod_municipio');
                                // Limpiar opciones actuales
                                municipioSelect.innerHTML = '';
                                // Obtener opciones de municipio según el departamento seleccionado
                                fetch(`/get_municipios/?departamento=${departamento}`)
                                    .then(response => response.json())
                                    .then(data => {
                                        // Agregar las nuevas opciones al select
                                        data.forEach(municipio => {
                                            var option = document.createElement('option');
                                            option.value = municipio.cod_municipio;
                                            option.textContent = municipio.nombre_municipio;
                                            municipioSelect.appendChild(option);
                                        });
                                    });
                            });
                        </script>
                        <select class="form-control" id="cod_municipio" name="cod_municipio" title='' style='cursor:pointer;'>
                            <option></option>
                        </select>
                    </div>  
                </div>				
                <div class="row mt-12">
                    <div class="col-sm-12" >
                        <h6 class="modal-title">Poblado<h6>
                            <script>
                                document.getElementById('cod_municipio').addEventListener('change', function() {
                                    var municipios = this.value;
                                    var PobladoSelect = document.getElementById('cod_poblado');
                                    // Limpiar opciones actuales
                                    PobladoSelect.innerHTML = '';
                                    // Obtener opciones de municipio según el departamento seleccionado
                                    fetch(`/get_poblados/?municipios=${municipios}`)
                                        .then(response => response.json())
                                        .then(data => {
                                            // Agregar las nuevas opciones al select
                                            data.forEach(poblado => {
                                                var option = document.createElement('option');
                                                option.value = poblado.cod_poblado;
                                                option.textContent = poblado.nombre_poblado;
                                                PobladoSelect.appendChild(option);
                                            });
                                        });
                                });
                            </script>
                        <select class="form-control" id="cod_poblado" name="cod_poblado"  title='' style='cursor:pointer;' >
                            <option></option>
                        </select>
                    </div>
                </div>	
                <label for="id_municipio">Por favor digite aqui el nombre/numero de: Barrio-Comuna y Direccion </label><br>
                <input type="text"  class="form-control"> <br>
                    {% for field in register_form  %}
                        <label>{{field.label}}</label>
                        {{ field }}
                    {% endfor %} 
                    <select name="id_doc" class="form-control" id="id_doc">
                        <option value="">Selecciona su tipo de documento</option>
                        {% for doc in tipodoc %}
                            <option value="{{ doc.id_doc }}">{{ doc.nombre }}</option>
                        {% endfor %}
                    </select>
                    {% comment %} <input type="submit" name="Enviar" value="Enviar"> {% endcomment %}
                    <div class="modal-footer">
                        <button id="bot" name="bot" class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">Sig.</button>
                        <script> 
                            $(document).ready(function() {
                                $('#bot').on('submit', function(e) {
                                    e.preventDefault(); // Evita que el formulario se envíe de forma predeterminada
                                    // Resto del código aquí...
                                });
                            });
                        </script> 
                        
                    </div>
                </form>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button class="btn btn-primary" data-bs-target="#staticBackdrop2" data-bs-toggle="modal" data-bs-dismiss="modal">Open second modal</button>
        </div>
    </div>
    </div>
</div>
-->
<!-- Second Modal QUE NO SIRVE!!!!!

<div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel2" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel2">Second Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
                <button type="button" class="btn btn-primary" data-bs-target="#staticBackdrop" data-bs-toggle="modal" data-bs-dismiss="modal">Volver</button>
            </div>
        </div>
    </div>
</div>
-->
{% endblock %}